{% block header %}
    <header>
        <div class="header-logo">
           Good Eat
        </div>
        <div class="header-nav">
            <nav>
                <button>
                    Test
                </button>
            </nav>
        </div>
    </header>
{% endblock %}